<div class="container mb-4">
    <div class="homepage-title-box">
        <img src="../Themes/DefaultClean/Content/images/link.png" />
        <a href="#">Hyper order</a>
    </div>
    <div class="homepage-order-type">
        <div class="homepage-order-type-box">
            <div class="logo-box">
                <img src="../Themes//DefaultClean/Content/images/og_image_logo.png" />
            </div>
            <div class="logo-box">
                <img src="../Themes//DefaultClean/Content/images/Yahoo!_Japan.png" />
            </div>
            <div class="logo-box">
                <img src="../Themes//DefaultClean/Content/images/mercari.png" />
            </div>
            <div class="logo-box">
                <img src="../Themes//DefaultClean/Content/images/amazonjapan.png " />
            </div>
        </div>
    </div>
</div>